@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');

* {
   margin: 0;
   padding: 0;
   border: none;
   background-color: #d8e6d5;;
}

 body {
    font-family: Montserrat, sans-serif;
    font-weight: 300px;
    
 }

 h1 {
    font-family: Playfair Display, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
 }

 #logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
 }

/* Navigation Links*/

 #menu {
    font-size: 100%;
    letter-spacing: 4px;
    
 }

 #menu, #logo {
    line-height: 60px;
 }

 #menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
 }

 #menu a {
    text-decoration: none;
    color: black;
 }

 #menu a:hover {
    border: 2px solid #fff;
    
 }

 .first {
    border: 2px solid #fff;
 }

#elh-outer {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

/* mission value */

.mission-value {
   margin: 200px auto;
   width: 90%;
   padding: 10px;
   border: 10px solid #fff;
   border-radius: 20px;
   background-color: #fff;
   box-shadow: 12px 12px 2px 1px black;
}

#mission {
   font-size: 125%;
   text-align: center;
   padding-top: 10px;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   background-color: #fff;
}

.value {
   display: grid;
   grid-template-columns: 60% 40%;
   align-items: center;
   background-color: #fff;
}

.value p {
   text-align: center;
   font-size: 100%;
   padding: 10px;
   width: 95%;
   height: 90%;
   background: #fff;

}

.img-value {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
   
}

#elh-mission {
   max-height: 90%;
   max-width: 90%;
   background-size: cover;
}

/* latest article links */

.top-articles {
   width: 90%;
   padding: 10px;
   margin: 100px auto;
   text-align: center;
}

.top-articles > div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.top-articles h2 {
   font-size: 40px;
   padding: 10px 0;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   
}

.box {
   width: 350px;
   height: 400px;
   background:  white;
   margin: 0px 10px;
   transition: 1s;
}

.box a {
   background-color: #fff;
   color: black;
   padding: 5px 10px;
   text-decoration: none;
   display: inline-block;
   margin: top;
}

.box:hover {
   transform: scale(1.1);
   box-shadow: 2px 2px 2px #000;
   z-index: 2;

}

.article-img {
   max-width: 100%;
   height: auto;
}

/* footer section */
/*Newsletter*/
