@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');

* {
   margin: 0;
   padding: 0;
   border:none;
   box-sizing: border-box;
   background-color: #d8e6d5;;
}

 body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    
 }

 h1 {
    font-family: Playfair Display, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
 }

 #logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
 }

/* Navigation Links*/

 #menu {
    font-size: 100%;
    letter-spacing: 4px;
    
 }

 #menu, #logo {
    line-height: 60px;
 }

 #menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
 }

 #menu a {
    text-decoration: none;
    color: black;
 }

 #menu a:hover {
    border: 2px solid #000;
 }


#elh-outer {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}

/* mission value */

.mission-value {
   margin: 200px auto;
   width: 80%;
   height: 50%;
   padding: 10px;
   border: 10px solid #fff;
   border-radius: 10px;
   background-color: #fff;
   box-shadow: 12px 12px 2px 1px #36454f;
}

.value-text {
   background-color: #fff;
}

.value-text h2 {
   font-family: Playfair Display, serif;
   font-size: 125%;
   text-align: center;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   padding-bottom: 10px;
   background-color: #fff;
}

.value {
   display: grid;
   justify-content: center;
   grid-template-columns: 40% 60%;
   background-color: #fff;
}

.value p {
   font-family: Montserrat, sans-serif;
   text-align: center;
   font-size: 100%;
   width: 95%;
   height: 90%;
   background: #fff;

}

#elh-mission {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-height: 100%;
   max-width: 100%;
   background-size: contain;
   background: transparent;
   object-fit: fill;
}

/* latest article links */

.top-articles {
   width: 90%;
   padding: 10px;
   margin: 100px auto;
   text-align: center;
}

.top-articles > div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.top-articles h2 {
   font-family: Playfair Display, serif;
   font-size: 40px;
   padding: 10px 0;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   
}

.box {
   width: 350px;
   height: 325px;
   background:  white;
   margin: 0px 10px;
   transition: 1s;
}

.box a {
   background-color: #fff;
   color: black;
   padding: 5px 10px;
   text-decoration: none;
   display: inline-block;
}

.box:hover {
   transform: scale(1.1);
   box-shadow: 2px 2px 2px #000;
   z-index: 2;

}

.article-img {
   max-width: 100%;
   height: auto;
}

/* footer section */

footer {
   
   width: 100%;
   height: auto;
   bottom: 0;
   left: 0;
   right: 0;
   background: #b6cab2;
}

/*Newsletter*/

.newsletter {
   width: 100%;
   height: auto;
   background: #b6cab2;
   padding: 30px 0;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.newsletter h3 {
   font-family: Playfair Display, serif;
   background-color: #b6cab2;;
   font-size: 30px;
   font-weight: 300;
   color: #000;
}

.newsletter p {
   font-family: Montserrat, sans-serif;
   background-color: #b6cab2;;
   font-size: 14px;
   font-weight:200;
   color: #000
}

.newsletter form {
   width: 390px;
   height: 55px;
   margin-top: 10px;
   background-color: #fff;
   border-radius: 100px;
   display: flex;
}

.newsletter form input {
   flex: 1;
   background-color: transparent;
   border: none;
   outline: none;
   padding-left: 30px;
   font-size: 16px;
   font-weight: 500;
   color: #36454f;
}

.newsletter form button {
   width: 100px;
   border-radius: 100px;
   font-size: 25px;
   border: none;
   outline: none;
   background-color: #CAB6B2;
   color: #fff;
   margin: 4px;
   cursor: pointer;
   transition: 0.5s;
}

.newsletter form button:hover {
   background-color: #bca29d;
}

.newsletter .fa-regular {
   background: transparent;
}

/*socials*/

.socials {
   background: transparent;
}

.socials a {
   background-color: #b6cab2;
}

.socials .fa-brands {
  background: transparent;
   font-size: 30px;
   margin: 20px 10px 0 10px;
   color: rgba(238, 156, 140, 0.449);
   cursor: pointer;
   transition: 0.5s;
}

.socials .fa-brands:hover {
   color: rgba(202, 182, 178, 0.6);
}

/* bottom content */

.bottom-content {
   height: 55px;
   padding: 0 20px;
   background-color: #b6cab2;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.bottom-content ul {
   background: #b6cab2;;
   font-family: Montserrat, sans-serif;

}

.bottom-content ul li {
   list-style: none;
   display: inline;
   background: transparent;
}

.bottom-content a {
   background-color: transparent;
   text-decoration: none;
   font-size: 18px;
   font-weight: 300;
   margin-left: 15px;
   color:rgba(2, 0, 0, 0.5);
   transition: 0.5s
}

.bottom-content ul li a:hover {
   color: rgb(22, 21, 21, 1)
}

/* about page */

.three-plants-outer {
   width: 95%;
   height: 400px;
   padding: 0;
   margin: 100px auto;
   background-image: url('../image/3-plants.webp');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
   overflow: hidden;
   box-shadow: 12px 12px 2px 1px #b6cab2;  
}

.three-plants-inside{
   position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.three-plants-inside h2 {
   font-family: Playfair Display, serif;
   font-size: 30px;
   font-weight: 500;
   background-color: transparent;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* about section */


.about {
   margin: 200px auto;
   width: 95%;
   height: 60%;
   padding: 10px;
   border: 10px solid #fff;
   border-radius: 10px;
   background-color: #fff;
   box-shadow: 12px 12px 2px 1px #36454f;
}



.about p {
   font-family: Montserrat, sans-serif;
   text-align: center;
   font-size: 18px;
   padding: 10px;
   width: 95%;
   height: 90%;
   background: #fff;
}

.about-inner {
   display: grid;
   grid-template-columns: 50% 50%;
   align-items: center;
   background-color: #fff;
}

.about-inner strong {
   font-family: Montserrat, sans-serif;
   font-size: 125%;
   text-align: center;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   background: transparent;
}

.about-inner em {
   font-family: Montserrat, sans-serif;
   background: transparent;
}

.about-text {
   background-color: #fff;
}

.about-text h2 {
   font-family: Playfair Display, serif;
   font-size: 20px;
   text-align: center;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   padding-bottom: 30px;
   background-color: #fff;
}

.recycle {
   max-height: 60vh;
   max-width: 100%;
   background-size: cover;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background: transparent;
   object-fit: contain;
}


.about2 {
   margin: 200px auto;
   width: 95%;
   height: 100%;
   padding: 10px;
   border: 10px solid #fff;
   border-radius: 10px;
   background-color: #fff;
   box-shadow: 12px 12px 2px 1px #36454f;
}

.about-text2 {
   background-color: #fff;
}

.about-text2 h2 {
   font-family: Playfair Display, serif;
   font-size: 20px;
   text-align: center;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   background-color: #fff;
}

.about2 p {
   font-family: Montserrat, sans-serif;
   text-align: center;
   font-size: 18px;
   padding: 10px;
   width: 95%;
   height: 100%;
   background: #fff;
}

.about-inner2 {
   display: grid;
   grid-template-columns: 50% 50%;
   align-items: center;
   background-color: #fff;
}

.about2 iframe {
   width: 100%;
   height: 100%;
}

.three-plants-inside p {
   font-family: Montserrat, sans-serif;
   font-size: 20px;
   background: transparent;
}

/* News Page */

/* Articles */
.news-outter {
   width: 90%;
   padding: 10px;
   margin: 100px auto;
   text-align: center;
}

.news-outter > div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.news-outter h2 {
   font-family: Playfair Display, serif;
   font-size: 24px;
   padding: 10px 0;

}

.news-box {
   width: 350px;
   height: 400px;
   background:  white;
   margin: 0 10px;
   transition: 1s;
}

.news-box h3 {
   font-family: Playfair Display, serif;
   font-size: 18px;
   padding: 10px 0;
   background: transparent;
}

.news-box a {
   background-color: #fff;
   color: black;
   padding: 5px 10px;
   text-decoration: none;
   display: inline-block;
   border-style: outset;
   border-width: 2px;
   border-color: #90999f;
}


.news-box:hover {
   transform: scale(1.1);
   box-shadow: 2px 2px 2px #000;
   z-index: 2;

}

.article-img {
   max-width: 100%;
   height: 265px;
}

.row {
   margin-top: 25px;
}


#fashion-statement h2 {
   font-family: Playfair Display, serif;
   text-align: center;
   font-size: 28px;
   text-decoration: underline;
}


#fashion-statement p {
   font-family: Montserrat, sans-serif;
   font-size: 20px;
   text-align: center;
}

/* Media Queries */

/* For screens 1300px and down */
@media screen and (max-width: 1300px){

   /* Home page */

   .mission-value {
      width: 80%;
      height: auto;
   }

   .value {
      width: 90%;
      grid-template-columns: 1fr;
   }

   #elh-mission {
      width: 85%;
      height: auto;
      order: 2;
   }

   /*About Section */


   .about2 {
      width: 90%;
      height: 100%;
   }

   .about-inner2 {
      width: 90%;
      grid-template-columns: 1fr;
   }

   .about-inner2 p {
      width: 105%;
      height: auto;
      padding: 10px
   }

   .about-inner2 iframe {
      margin: 20px;
      width: 100%;
      height: 100%;
   }

}


/* For screens 1000px and down */
@media screen and (max-width: 1000px){

   /* About Page*/
   .about {
      width: 90%;
      margin: 20px;
   }

   .about-inner {
      width: 100%;
      height: auto;
      grid-template-columns: 1fr;
      
   }

   .about-inner p {
      width: 100%;
      height: auto;
      float: left;
   }

   .recycle {
      
      width: 100%;
      height: auto;
      order: 2;
   }
}

/* thank you sign up page */

.thank-you {

   align-items: center;
   width: 370px;
   height: 400px;
   text-align: center;
   margin: auto;
   padding: 100px 0;
   
}

.top-thanks {
   width: 100%;
   height: 170px;
   background-color: #fff;
   border-style: solid;
   border-width: 4px;
   border-color: #fff;
   box-shadow: 12px 12px 2px 1px #36454f;
   align-items: center;
}

.top-thanks .fa-regular.fa-circle-check {
   background-color: #fff;
   margin-top: 20px;
   width: 200px;
   font-size: 2.5em;
   
}

.top-thanks h2 {
   background-color: #fff;
   font-size: 40px;
   font-family: Playfair Display, serif;
   
}

.bottom-thanks {
   border-style: solid;
   border-width: 4px;
   border-color: #e7f0e3;;
   background-color: #e7f0e3;
   align-items: center;
   width: 100%;
   height: 200px;
   box-shadow: 12px 12px 2px 1px #36454f;
}

.bottom-thanks p {
   margin-top: 20px;
   background: transparent;
   font-size: 22px;
   font-family: Montserrat, sans-serif;
   text-align: center;
}

.bottom-thanks a {
   background: transparent;
   text-align: center;
}

.bottom-thanks button {
   background: transparent;
   font-size: 16px;
   font-weight: 400;
   font-family: Montserrat, sans-serif;
   margin-top: 10px;
   border: outset;
   border-width: 4px;
   border-color: #36454f;
}


/* Media query for thanks - for screens 500px under */

@media screen and (max-width: 500px){

   .thank-you {
      width: 85%;
      height: auto;
      margin-left: 20%;
      padding: 150px 0;
   }

   .top-thanks {
      width: 70%;
      height: 50%;
   }

   .top-thanks .fa-regular.fa-circle-check {
      font-size: 1.5em;
      background: transparent;
   }

   .top-thanks h2 {
      font-size: 130%;
   }

   .bottom-thanks {
      width: 70%;
      height: 70%;
   }

   .bottom-thanks p {
      font-size: 80%;
   }

   .bottom-thanks button {
      font-size: 70%;
   }

}