@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap');

* {
   margin: 0;
   padding: 0;
   border:none;
   box-sizing: border-box;
   background-color: #d8e6d5;;
}

 body {
    font-family: Montserrat, sans-serif;
    font-weight: 300px;
    
 }

 h1 {
    font-family: Playfair Display, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
 }

 #logo {
    float: left;
    font-size: 200%;
    margin-left: 10px;
 }

/* Navigation Links*/

 #menu {
    font-size: 100%;
    letter-spacing: 4px;
    
 }

 #menu, #logo {
    line-height: 60px;
 }

 #menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
 }

 #menu a {
    text-decoration: none;
    color: black;
 }

 #menu a:hover {
    border: 2px solid #fff;
    
 }

 .first {
    border: 2px solid #fff;
 }

#elh-outer {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
}

/* mission value */

.mission-value {
   margin: 200px auto;
   width: 90%;
   height: 70%;
   padding: 10px;
   border: 10px solid #fff;
   border-radius: 20px;
   background-color: #fff;
   box-shadow: 12px 12px 2px 1px black;
}

#mission {
   font-size: 125%;
   text-align: center;
   padding-top: 10px;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   background-color: #fff;
}

.value {
   display: grid;
   grid-template-columns: 60% 40%;
   background-color: #fff;
}

.value p {
   text-align: center;
   font-size: 100%;
   padding: 10px;
   width: 95%;
   height: 90%;
   background: #fff;

}

.img-value {
   display: flex;
   align-items: center;
   justify-content: center;
   
}

#elh-mission {
   max-height: 70%;
   max-width: 70%;
   background-size: contain;
}

/* latest article links */

.top-articles {
   width: 90%;
   padding: 10px;
   margin: 100px auto;
   text-align: center;
}

.top-articles > div {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.top-articles h2 {
   font-size: 40px;
   padding: 10px 0;
   text-decoration: underline;
   text-decoration-thickness: 1px;
   text-underline-position: under;
   
}

.box {
   width: 350px;
   height: 325px;
   background:  white;
   margin: 0px 10px;
   transition: 1s;
}

.box a {
   background-color: #fff;
   color: black;
   padding: 5px 10px;
   text-decoration: none;
   display: inline-block;
   margin: top;
}



.box:hover {
   transform: scale(1.1);
   box-shadow: 2px 2px 2px #000;
   z-index: 2;

}

.article-img {
   max-width: 100%;
   height: auto;
}

/* footer section */

footer {
   width: 100%;
   height: auto;
   bottom: 0;
   left: 0;
   right: 0;
}



/*Newsletter*/

.newsletter {
   width: 100%;
   height: auto;
   background: #b6cab2;
   padding: 30px 0;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.newsletter h3 {
   background-color: #b6cab2;;
   font-size: 30px;
   font-weight: 300;
   color: #fff;
}

.newsletter p {
   background-color: #b6cab2;;
   font-size: 14px;
   font-weight:200;
   color: #fff
}

.newsletter form {
   width: 500px;
   height: 55px;
   margin-top: 10px;
   background-color: #fff;
   border-radius: 100px;
   display: flex;
}

.newsletter form input {
   flex: 1;
   background-color: transparent;
   border: none;
   outline: none;
   padding-left: 30px;
   font-size: 16px;
   font-weight: 500;
   color: #36454f;
}

.newsletter form button {
   width: 100px;
   border-radius: 100px;
   font-size: 25px;
   border: none;
   outline: none;
   background-color: #CAB6B2;
   color: #fff;
   margin: 4px;
   cursor: pointer;
   transition: 0.5s;
   
}


.newsletter form button:hover {
   background-color: #bca29d;

}

/*socials*/

.socials .fa-brands {
  background: transparent;
   font-size: 30px;
   margin: 20px 10px 0 10px;
   color: rgba(202, 182, 178, 0.1);
   cursor: pointer;
   transition: 0.5s;
}

.socials .fa-brands:hover {
   color: rgba(202, 182, 178, 0.6);
}

/* bottom content */

.bottom-content {
   height: 50px;
   padding: 0 20px;
   background-color: #b6cab2;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.bottom-content p {
   font-size: 18px;
   font-weight: 200;
   color: rgba(255, 255, 255, 0.5);
}

.bottom-content p a {
   color: #ed4e6a;
   text-decoration: none;
   font-weight: 400;
}

.bottom-content ul li {
   list-style: none;
   display: inline;
}

.bottom-content ul li a {
   text-decoration: none;
   font-size: 18px;
   font-weight: 300;
   margin-left: 15px;
   color:rgba(255, 255, 255, 0.5);
   transition: 0.5s
}

.bottom-content ul li a:hover {
   color: rgba(255, 255, 255, 1)
}

/* about section */

.plant {
   width: 100%;
   height: 400px;
   padding: 0;
   margin: 100px auto;
   background-image: url('/assets/image/3-plants.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
}


.plant h2 {
   font-size: 30px;
   font-weight: 60px;
   background-color: transparent;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* about section */

.about {
   margin: 200px auto;
   width: 90%;
   padding: 10px;
   border: 10px solid #fff;
   border-radius: 20px;
   background-color: #fff;
   box-shadow: 12px 12px 2px 1px black;
}

.about h2 {
   text-align: center;
   background: #fff;
  
}

.about em {
   background: #fff;
}

.about p {
   text-align: center;
   font-size: 15px;
   padding: 10px;
   width: 95%;
   height: 90%;
   background: #fff;
}

.about-inner {
   display: grid;
   grid-template-columns: 60% 40%;
   align-items: center;
   background-color: #fff;
}

.recycle {
   max-height: 110%;
   max-width: 100%;
   background-size: cover;
}

/*video embed*/

.about-video-out {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-video {
   margin: 200px auto;
   width: 90%;
   padding: 10px;
   border: 10px solid #fff;
   border-radius: 20px;
   background-color: #fff;
   box-shadow: 12px 12px 2px 1px black;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-video h2, .about-video h3{
   background: transparent;
   text-align: center;
   padding-bottom: 5px;
}

.about-video iframe {
   max-width: 100%;
   height: 400px;
}

.about-video .fa-solid {
   background: transparent;
}

/* statement */

.sustainable-statement-outer {
   width: 100%;
   height: 400px;
   padding: 0;
   margin: 100px auto;
   background-image: url('/assets/image/3-plants.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
}



.sustainable-statement {
position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.sustainable-statement p {
   font-size: 24px;
   margin-bottom: 10px;
   background: transparent;
}

.sustainable-statement button {
   font-size: 18px;
   background: transparent;
   border-width: 4px;
   border-style: outset;
}

.sustainable-statement a {
   background: transparent;
   color: #000;
}


/* News Page */

/* Photo */

.green-plant {
   width: 100%;
   height: 400px;
   padding: 0;
   margin: 100px auto;
   background-image: url('/assets/image/single-plant.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
}

.green-plant h2 {
   font-size: 30px;
   font-weight: 60px;
   background-color: transparent;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.green-plant p {
   font-size: 26px;
   font-weight: 60px;
   background-color: transparent;
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-50%, -30%);
}

/* Articles */

.container {
   width: 1100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   
}

.container .card {
   position: relative;
}

.container .card .hero {
   width: 325px;
   height: 200px;
   transition: 0.5s;
   
}

.container .card .hero.hero1 {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #d8e6d5;
   position: relative;
   z-index: 1;
   transform: translateY(100px);
}

.container .card:hover .hero.hero1 {
   transform: translateY(0);
   background-color: #b6cab2;
}
.container .card .hero.hero1 .content {
   opacity: 1;
}

.container .card .hero.hero1 .content img {
   max-width: 200px;
   display: block;
   margin: auto;
}

.container .card .hero.hero1 .content h3 {
   margin: 8px 0px;
   color: #000;
   text-align: center;
   font-size: 18px;
   background: transparent;
}

.container .card .hero.hero2 {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 180px;
   padding: 5px;
   background-color: #fff;
   position: relative;
   transform: translateY(-100px);
}

.container .card:hover .hero.hero2 {
   transform: translateY(0px);
}

.container .card .hero.hero2 .container2 p{
   font-size: 20px;
   background: white;
   text-align: center;
}

.container .card .hero.hero2 .container2 a {
   margin: 15px 0px;
   background-color: white;
   display: inline-block;
   text-decoration: none;
   font-weight: 600;
   color: #222;
   padding: 5px;
   border: 1px solid #222;
}

.container .card .hero.hero2 .content a:hover {
   background-color: #222;
   color: #fff;

}

/* Tips And Guides */

/* Picture Header */

.tips-guide {
   width: 100%;
   height: 400px;
   padding: 0;
   margin: 100px auto;
   background-image: url('/assets/image/green-plant.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
}

.tips-guide h2 {
   font-size: 30px;
   font-weight: 60px;
   background-color: transparent;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.guidance h2 {
   font-size: 36px;
   font-weight: 60px;
   text-align: center;
   text-decoration: underline;
   
}

.guidance p {
   font-size: 22px;
   font-weight: 60px;
   text-align: center;
}

.container .card .hero.hero2 .container3 p{
   font-size: 16px;
   background: white;
   text-align: center;
}

.container .card .hero.hero1 .content {
   background: transparent;
}

.container .card .hero.hero1 .content .fa-duotone {
   background: fixed;
   display: flex;
}

/* fashion brands */

.container .card .hero.hero1 .content .fa-solid .fa-bag-shopping {
   width: 100px;
   height: 50px;
   align-content: center;
}
